.layout {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #333;
    .m-header{
        width: 100%;
        height: 50px;
        position: absolute;
        background: #111;
        line-height: 50px;
        display: flex;
        .logo{
            width: 200px;
            background: #222;
            text-align: center;
            flex-shrink: 0;
            .icon {
                height: 40px;
                margin: 5px;
            }
        }
        .controls{
            width: 100%;
            line-height: 50px;
            padding-left: 10px;
            .fa {
                padding: 10px;
                margin-right: 5px;
                background: #444;
                border-radius: 5px;
                color: #999;
                width: 30px;
                height: 30px;
                cursor: pointer;
                &:hover{
                    color: #EEE;
                }
            }
        }
        .user{
            width: 100%;
            flex-shrink: 1;
            color: #888;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 20px;
            .user_login{
                margin: 0 5px;
            }
        }
    }
    .content{
        width: 100%;
        height: 100%;
        padding-top: 50px;
        display: flex;
        .left {
            width: 0;
            background: #F0F;
            flex-shrink: 0;
            transition: width 300ms;
            overflow-x: hidden;
            &.active{
                width: 200px;
            }
        }
        .main {
            width: 100%;
        }
        .right {
            width: 0;
            background: #F0F;
            flex-shrink: 0;
            transition: width 300ms;
            overflow-x: hidden;
            &.active{
                width: 200px;
            }
        }
    }
}